language: python
dist: bionic

git:
  depth: 1

matrix:
  include:
    - python: 3.6
    - python: 3.7
    - python: 3.8
    - python: pypy3

install:
  - pip install -e .
  - pip install -r requirements-dev.txt

script:
  - make test

after_success:
  - make coverage
